{% extends 'layouts/base.html' %} {% block title %} Profile {% endblock title %}
{% block content %}

<div
  class="header pb-6 d-flex align-items-center"
  style="
    min-height: 500px;
    background-image: url(/static/assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row" style="width: 100%">
      <div class="col-lg-7 col-md-10">
        <h1
          class="display-2 text-white"
          id="data-model-id"
          data-modelid="{{data.ml_model.id}}"
        >
          {{data.ml_model.name}}
        </h1>
        <p class="text-white mt-0 mb-3">{{data.ml_model.description}}</p>
        <a href="#!" class="btn btn-neutral">History</a>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--8">
  <div class="row">
    <!-- <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="/static/assets/img/theme/team-4.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{ request.user.username }}
            </h5>
            <div class="h5 font-weight-300">
              {{ request.user.email }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <!-- <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit profile </h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div> -->
        <div class="card-body">
          <form>
            {% csrf_token %}
            <h6 class="heading-title text-body mb-4">Type Input Parameter</h6>
            <hr class="my-4" />
            <div class="pl-lg-4">
              <div class="column">
                {% comment %}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username"
                      >Username</label
                    >
                    <input
                      type=""
                      id="input-username"
                      class="form-control"
                      placeholder="Username"
                      value="{{ request.user.username }}"
                    />
                  </div>
                </div>
                {% endcomment %} {% for input in data.ml_model_inputs %}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="{{input.id}}"
                      >{{input.name}}</label
                    >
                    <input
                      type="{{input.input_type}}"
                      id="{{input.id}}"
                      class="form-control input-value"
                      placeholder="{{input.attribute}}"
                      name="{{input.attribute}}"
                      step="0.01"
                    />
                  </div>
                </div>
                {% endfor %}
                <!-- <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control" placeholder="{{ request.user.email }}">
                  </div>
                </div> -->
              </div>
            </div>
            <hr class="my-4" />
            <button
              type="button"
              class="btn btn-lg btn-primary"
              id="predict-result-btn"
            >
              View result
            </button>
          </form>
          <hr class="my-4" />
          <div
            style="
              background-color: #30bb7a;
              padding: 10px 15px 5px 15px;
              border-radius: 5px;
              display: none;
            "
            id="prediction-result"
          >
            <h6
              class="heading-title text-body mb-2"
              style="color: white !important"
            >
              Prediction Success :
            </h6>
            <h2
              class="heading-title text-body mb-2"
              style="font-size: 40px; color: white !important"
            >
              {{data.ml_model.output}} : <span id="output-predict-result">22000</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  window.onload = function () {
    // Scroll down by 20 pixels
    window.scrollBy(0, 200);
  };
</script>
<script>
  const predictBtn = document.getElementById("predict-result-btn");
  const model_id = document.getElementById("data-model-id");
  const id = model_id.dataset.modelid;

  predictBtn.addEventListener("click", () => {
    // axios
    //   .post(`http://127.0.0.1:8000/model/predict/result/${id}`)
    //   .then((response) => {
    //     // Handle the response from the server here
    //     console.log(response);
    //   })
    //   .catch((error) => {
    //     // Handle any errors that occur during the request here
    //     console.error(error);
    //   });

    let inputValues = document.querySelectorAll(".input-value");
    let inputValuesArray = [];
    for (let i = 0; i < inputValues.length; i++) {
      inputValuesArray.push(inputValues[i].value);
    }
    console.log(inputValuesArray);

    axios({
      method: "post",
      url: `http://127.0.0.1:8000/model/predict/result/${id}`,
      data: {
        inputValues: inputValuesArray,
      },
    })
      .then((response) => {
        // Handle the response from the server here
        console.log(response);
        predictBtn.innerHTML = "Processing result...";
        setTimeout(function() {
          // console.log("Hello");
          let predictionResultDiv = document.getElementById("prediction-result");
          predictionResultDiv.style.display = "block";
          predictBtn.innerHTML = "Predict again";
          let outputPredictResult = document.getElementById("output-predict-result");
          outputPredictResult.innerHTML = response.data.result;
          window.scrollTo(0, document.body.scrollHeight);
        }, 3000);
        
      })
      .catch((error) => {
        // Handle any errors that occur during the request here
        console.error(error);
      });
  });
</script>
{% endblock javascripts %}
